/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.toast-success {
    padding: 6px;
    border-radius: 10%;
    background-color: #28a745 !important;
  }
  
  .toast-error {
    padding: 6px;
    border-radius: 10%;
    background-color: #dc3545 !important;
  }
  
  .toast-top-right {
    top: 12px;
    right: 12px;
  }